<%= form_for @project, :url => { :action => 'testkit_settings', :id => @project }, :method => :post, :html => { :multipart => true } do |f| %>
  <%= hidden_field_tag :tab, 'testkit_settings' %>
  <%= fields_for 'project[testkit_setting_attributes]', 
    @project.testkit_setting.present? ? @project.testkit_setting : @project.build_testkit_setting do |testkit_setting_fields| %>
    <fieldset>
      <legend><%= l(:legend_select_project_new_defect_tracker) %></legend>
        <p><%= testkit_setting_fields.collection_select :new_defect_tracker_id, @project.trackers, :id, :name %></p>
    </fieldset>
    <fieldset>
      <legend><%= l(:legend_testcase_prefix) %></legend>
      <p><%= testkit_setting_fields.text_field :testcase_prefix, :placeholder => 'TC' %></p>
    </fieldset>
    <h3><%= l(:label_word_teplates) %></h3>
    <p><a href="https://github.com/senny/sablon/blob/master/misc/TEMPLATE.md" target="_blank"><%= l(:label_how_to_add_variable) %></a></p>
    <p><a href="https://github.com/senny/sablon#conditionals" target="_blank"><%= l(:label_word_conditional_structures) %></a></p>
    <p><%= l(:label_setting_help_text) %></p>
    <% TestkitSetting::avaliable_types.keys.each do |type| %>
      <fieldset>
        <legend><%= @project.testkit_setting.template_name(type) %></legend>
        <p><%= link_to "#{l(:label_default_template)} '#{@project.testkit_setting.template_name(type)}'",
          "/plugin_assets/redmine_testkit/docx_templates/#{TestkitSetting::avaliable_types[type][:filename]}",
          :class => 'icon', :style => 'background-image: url(/images/document.png);' %></p>
        <p><%= file_field_tag "[#{type}][dummy][file]", accept: '.docx', :class => 'dummy_file', data: {:present => @project.testkit_setting.send(type).present?} %></p>
        <% if @project.testkit_setting.send(type).present? %>
          <%= render :partial => 'attachments/links',
                :locals => {
                :container => @project.testkit_setting,
                :attachments => [@project.testkit_setting.send(type)],
                :options => { :editable => false, :deletable => @project.testkit_setting.attachments_deletable?, :author => true },
                :thumbnails => false
              }
          %>
        <% end %>
      </fieldset>
    <% end %>
    
    <fieldset>
      <legend><%= l(:label_word_other_templates) %></legend>
      <p><%= l(:label_word_where_get_result) %></p>
      <%= link_to_attachments @project.testkit_setting, :thumbnails => false %>
      <p id="attachments_form"><label><%= l(:label_attachment_plural) %></label>
          <%= render :partial => 'common/attachments_form', :locals => { :container => @project.testkit_setting } %>
      </p>
    </fieldset>

  <% end %>
  <p><%= submit_tag l(:button_save) %></p>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#cbp_images_form').hide()

    $('.dummy_file').change(function(event) {
      if ($(this).attr('data-present') == "true") {
        if (!window.confirm("<%= l(:label_are_you_sure_to_replase_template) %>")) {
          $(this).val(null)
        }
      }
    });

  })
<% end %>

