<fieldset style="margin-top: 3px;">
  <table class="list">
    <thead>
      <th>Шаг <%= f.options[:child_index]+1 %></th>
      <th>Ожидаемый результат</th>
    </thead>
    <tr>
      <td style="vertical-align: top;"><%= f.text_area :if, :class => "tinymce", rows: 3 %></td>
      <td style="vertical-align: top;"><%= f.text_area :then, :class => "tinymce", rows: 3 %></td>
    </tr>
  </table> 
  <%= f.hidden_field :_destroy %>
  <%= link_to "[Удалить]", '#', :class => "remove_steps icon icon-del", style: "color: red; float: right" %>
</fieldset>