<%= render 'testkits/tabs' %>
<h2 class="title">[#<%= @testcase.id %>] <%= @testcase.name %></h3>
<% if @testcase.folder %>
<h3 class="title icon icon-folder"><%= make_folders_legend(@testcase.folder) %></h3>
<% end %>
<%= error_messages_for @testcase %>
<%= form_for @testcase, url: project_testcase_path do |f| %>
  <%= render :partial => 'form', locals: { f: f} %>
<% end %>

