<%= render 'testkits/tabs' %>

<% if User.current.allowed_to?(:add_and_edit_testcases, @project) %>

<div class="buttons">
  <%= link_to 'Добавить папку', new_project_testcase_folder_path, :class => 'icon testkit-folder-add', :remote => :true %>
  <%= link_to l(:label_new_testcase), new_project_testcase_path(testcase: { folder_id: nil }), :class => 'icon testkit-testcase-add' %>
</div>


<div class="box">
<p style="width: 800px">
<%= text_field_tag :tag_list %>
<%= stylesheet_link_tag 'jquery.tagit.css', plugin: 'redmine_testkit' %>
<%= stylesheet_link_tag 'redmine_tags', plugin: 'redmine_testkit' %>
<%= javascript_include_tag 'tag-it.min', plugin: 'redmine_testkit' %>
<%= javascript_tag "$('#tag_list').tagit({
    tagSource: function(search, showChoices) {
      var that = this;
      $.ajax({
        url: '#{url_for(:controller => 'auto_completes', :action => 'testcase_tags', :project => @project)}',
        data: {q: search.term},
        success: function(choices) {
          showChoices(that._subtractArray(jQuery.parseJSON(choices), that.assignedTags()));
        }
      });
    },
    afterTagAdded: function(event, ui) {
      var x = event
      var y = ui
      console.log(event)
    },
    allowSpaces: true,
    placeholderText: '#{l :testcase_search_tag_placeholder}',
    caseSensitive: false,
    removeConfirmation: true,
    showAutocompleteOnFocus: true,
  });" %>
<%= javascript_tag do -%>
function updateTree() {
  tree = $("#testcases").fancytree('getTree');
  params = $("#tag_list").tagit("assignedTags");
  tree.reload({
    url: "<%= tree_project_testcase_folders_path %>",
    type: 'GET',
    data: { q: params},
    dataType: 'json'
  })  
}
<% end %>
  <span class="buttons">
    <%= link_to_function l(:button_apply), 'updateTree()', :class => 'icon icon-checked' %>
    <%= link_to_function l(:button_clear), '$("#tag_list").tagit("removeAll"); updateTree();', :class => 'icon icon-reload'  %>
  </span>
</p>
<% end %>
<p>
  <input name="search" type="text" placeholder="<%= t(:description_search) %>..." autocomplete="off" id="search">
  <input type="button" id="btnResetSearch" value="<%= t(:button_reset) %>" disabled="true">
  <span id="matches"></span>
</p>
<%= form_tag({}) do -%>
<div id="testcases" style="max-width: 1800px;" class="content">
<div style="position: relative; float:right;"><%= link_to " ", "#", id: "x_expander", onclick: "f_expander(this)",  style: "background-image: url(/images/bullet_toggle_plus.png); padding-left: 13px;" %></div>
</div>
<% end %>
<%= javascript_tag do %>
$(function() {
  $('#testcases').fancytree({
    extensions: ["filter", "persist"],
    persist: {
      cookie: { // settings passed to jquery.cookie plugin
        raw: false,
        expires: "",
        path: "<%= project_path(:id => @project.identifier) %>",
        domain: "",
        secure: false
      },
    store: "cookie",
    types: "expanded"
    },
    source: { url: "<%= tree_project_testcase_folders_path %>", dataType: "json" },
    filter: {
      autoExpand: true, // not worked :(
      autoApply: true,  // Re-apply last filter if lazy data is loaded
      counter: true,  // Show a badge with number of matching child nodes near parent icons
      fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
      hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
      highlight: true,  // Highlight matches by wrapping inside <mark> tags
      mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
    }
  })

  // search

  var tree = $('#testcases').fancytree("getTree")

  $('#search').keyup(function(e) {
    var n,
      match = $(this).val()

    if(e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === ""){
      $('#btnResetSearch').click()
      return
    }
    
    n = tree.filterNodes(match)
    
    $('#btnResetSearch').attr("disabled", false)
    $('#matches').text("(" + n + " совпадений)")
  }).focus();

  $('#btnResetSearch').click(function(e){
    $('#search').val("")
    $('#matches').text("")
    tree.clearFilter()
    $(this).attr("disabled", true)
    return false
  })
})
<% end %>

<%= javascript_tag do %>
  var current_expand = false
  function f_expander(e) {
    if (current_expand) {
      current_expand = false
      $(e).css('background-image', 'url(/images/bullet_toggle_plus.png)')
      tree = $("#testcases").fancytree("getTree")
      tree.visit(function(node){
        node.setExpanded(current_expand)
      })
    } else {
      current_expand = true
      $(e).css('background-image', 'url(/images/bullet_toggle_minus.png)')
      tree = $("#testcases").fancytree("getTree")
      tree.visit(function(node){
        node.setExpanded(current_expand)
      })
    }
  }

  $(function() { contextMenuInit('<%= node_menu_project_testcase_folders_path %>') })
  $(function() { $.elevator(); })
  $(function() { $(document).dblclick({buttons: true}, dblclickShowTestcase) })
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery.fancytree-all.min', 'context_menu_testkit', 'show_testcase', :plugin => 'redmine_testkit' %>
  <%= stylesheet_link_tag 'ui.fancytree.min', :plugin => 'redmine_testkit' %>
  <%= javascript_include_tag 'jquery.elevator.min.js', :plugin => 'redmine_testkit' %>
  <%= stylesheet_link_tag 'jquery.elevator.min', :plugin => 'redmine_testkit' %>
  <%= stylesheet_link_tag 'context_menu' %>
<% end %>
</div>