<%= render 'testkits/tabs' %>
<h2 class="title"><%= l(:new_testcase) %></h2>
<div class="buttons">
    <%= link_to l(:button_import_testcase), import_project_testcases_path, :class => 'icon icon-summary', :remote => true %>
</div>
<% if @testcase.folder %>
<h3 class="title icon icon-folder"><%= make_folders_legend(@testcase.folder) %></h3>
<% end %>
<%= error_messages_for @testcase %>
<%= form_for @testcase, url: project_testcases_path do |f| %>
  <%= render :partial => 'form', locals: { f: f} %>
<% end %>
