<h3 class="title"><%= l(:button_import_testcase) %></h3>
<div>
  <p>Для подготовки таблицы в GoogleDocs необходимо:</p>
    <ul>
      <li>Создать три колонки с названиями Шаг, Ожидаемый результат, Дополнительные данные</li>
      <li>Заполнить ячейки этих колонок соответствующими данными</li>
      <li>Через меню Файл -> Скачать как -> CSV-файл(текущий лист) выгрузить в файл</li>
    </ul>
</div>
<%= form_tag(import_project_testcases_path, multipart: true) do -%>
  <div><%= file_field_tag :import_file, accept: '.csv' %></div>
  <%= hidden_field_tag 'current_folder' %>
  <div><%= submit_tag l(:button_submit) %></div>
<% end -%>

<%= javascript_tag do %>
  $('#current_folder').val($('#testcase_folder_id').val())
<% end %>