<h3 class="title"><%= make_folders_legend(@testcase.folder, first: false) + @testcase.name %></h3>
<div class="wiki">
  <ul>
    <li><b>Автор:</b> <%= @testcase.author %></li>
    <li><b>Создано:</b> <%= format_time(@testcase.created_at) %></li>
    <li><b>Обновлено:</b> <%= format_time(@testcase.updated_at) %></li>
    <li><b>Описание:</b> <%= @testcase.description %></li>
    <li><b>Количество тестов:</b> <%= @testcase.run_count %></li>
    <li><b>Статистика:</b> <%= @testcase.statistics.collect {|k,v| content_tag(:span, k, :class => k+'_style') + ":#{v}" }.join(', ').html_safe %></li>
    <% if @testcase.attachments.present? %>
      <li><b>Файлы:</b></li>
      <%= link_to_attachments @testcase, :thumbnails => false %>
    <% end %>
  </ul>
<table class="list">
 <thead>
   <th>Шаг</th>
   <th>Ожидаемый результат</th>
 </thead>
<% @testcase.steps.each do |step| %>
  <tr>
    <td><%= step.if %></td>
    <td><%= step.then %></td>
  </tr>
<% end %>
</table>
</div>