<div class="box tabular">
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, style: "width: 77%;" %> <br />
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, style: "width: 77%; height: 100px;" %> <br />
  </p>
  <p>
    <%= f.label :client_env %>
    <%= f.select(:client_env, @client_envs, {:prompt => true}, {:class => "in_width"}) %>
  </p>
  <p>
    <%= f.label :env %>
    <%= f.select(:env, @server_envs, {:prompt => true}, {:class => "in_width"}) %>
  </p>
  <p>
    <%= f.label :assigned_to_id %>
    <%= f.collection_select :assigned_to_id, @testkit.assignable_users, :id, :name, {:selected => @testkit.assigned_to ? @testkit.assigned_to_id : @testkit.author_id}, :class => "in_width"  %>
  </p>
</div>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#testkit_client_env').select2({theme: "classic"});
  $('#testkit_env').select2({theme: "classic"});
  $('#testkit_version_ids').select2({theme: "classic"});
  $('#testkit_assigned_to_id').select2({theme: "classic"});
});
<% end %>