<table class="list">
  <thead>
    <th>Название</th>
    <th>Завершено</th>
    <th>Тестировалось</th>
    <th>Выполнил</th>
    <th>Окружения</th>
    <th>Результат</th>
    <th>Задачи</th>
    <th>Сборка</th>
    <th colspan="2">Отчеты</th>
  </thead>
    <% reports.each do |report| %>
      <tr>
        <td><%= link_to report.name, project_testkit_report_path(testkit_id: report.id, project_id: @project.identifier) %></td>
        <td align="center"><%= format_time(report.done_date) %></td>
        <td align="center"><%= distance_of_time_in_words(report.start_date, report.done_date) %></td>
        <td align="center"><%= link_to(report.user_end, report.user_end) %></td>
        <td>Клиент: <%= report.client_env %><br />Сервер: <%= report.env %></td>
        <td><%= report.report_result.collect {|k,v| content_tag(:span, k, :class => k+'_style') + ":#{v}" }.join(', ').html_safe %></td>
        <td align="center"><%= report.issues.collect {|i| link_to("##{i.id}", i) }.join(', ').html_safe %></td>
        <td align="center"><%= report.versions.collect {|v| link_to(v.name,v) }.join.html_safe %></td>
        <td align="center"><%= link_to 'ПТ', project_testkit_export_path(project_id: @project.identifier, testkit_id: report.id, type: :test_report), :class => 'icon icon-report', :title => t(:label_ps) %></td>
        <td align="center"><%= link_to 'ПМИ', project_testkit_export_path(project_id: @project.identifier, testkit_id: report.id, type: :test_plan), :class => 'icon icon-report', :title => t(:label_pmi) -%></td>
      </tr>
    <% end %>
</table>