<div class="tabs">
  <ul>
  <% if User.current.allowed_to?(:view_testkits, @project) %>
    <li><%= link_to l(:label_testkits), project_testkits_path, :class => (controller.controller_name == "testkits" and not ['show_report','index_reports','index_archive'].include?(controller.action_name)) ? 'selected' : ''  %></li>
  <% end %>
  <% if User.current.allowed_to?(:view_testcases, @project) %>
    <li><%= link_to l(:label_testcases), project_testcases_path, :class => controller.controller_name == "testcases" ? 'selected' : ''  %></li>
  <% end %>
  <% if User.current.allowed_to?(:view_testkit_envs, @project) %>
    <li><%= link_to l(:label_testkit_envs), project_testkit_envs_path, :class => controller.controller_name == "testkit_envs" ? 'selected' : ''  %></li>
  <% end %>
  <% if User.current.allowed_to?(:view_reports, @project) %>
    <li><%= link_to l(:label_reports), project_testkit_reports_path, :class => ['show_report','index_reports'].include?(controller.action_name) ? 'selected' : ''  %></li>
  <% end %>
  <% if User.current.allowed_to?(:manage_archive, @project) %>
    <li><%= link_to l(:label_archive), project_testkit_archive_path, :class => controller.action_name == "index_archive" ? 'selected' : ''  %></li>
  <% end %>
  </ul>
</div>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_testkit', :plugin => 'redmine_testkit' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<% end %>