<%= render 'tabs' %>
<h2 class="title"><%= l(:label_testsuite_plural) %></h2>
<div class="content" style="max-width: 1800px;">
<h3></h3>
<table class="list">
  <thead>
    <th>Название</th>
    <th>Автор</th>
    <th>Создано</th>
    <th>Перемещено в архив</th>
    <th>Статистика</th>
    <th width="10px"></th>
    <th width="10px"></th>
  </thead>
  <% if @archive.present? %>
    <% @archive.each do |testkit| %>
      <tr>
        <td><%= testkit.name -%></td>
        <td align="center"><%= testkit.author -%></td>
        <td align="center"><%= format_time(testkit.created_at) -%></td>
        <td align="center"><%= format_time(testkit.updated_at) -%></td>
        <td><%= testkit.template_statistics.collect {|k,v| content_tag(:span, k, :class => k+'_style') + ":#{v}" }.join(', ').html_safe %>, количество запусков: <%= testkit.templates_done %></td>
        <td>
          <%= link_to '', project_testkit_move_from_archive_path(testkit_id: testkit.id), :class => 'icon icon-cancel', :title => 'восстановить', :data => { confirm: "План тестирования будет перемещен" } -%>
        </td>
        <td>
          <%= link_to '', project_testkit_new_from_archive_path(testkit_id: testkit.id), :class => 'icon icon-duplicate', :title => 'создать новый план тестирования по шаблону' -%>
        </td>
      </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="7" align="center">Пусто</td>
  </tr>
  <% end %>
</table>