<h2>Запуск тестирования</h2>
<%= render 'tabs' %>
<div class="content">
<h2>По шаблону: <%= @testkit.parent.present? ? @testkit.parent.name : @testkit.name %></h2>
<%= error_messages_for @testkit %>
<%= form_for(@testkit, url: project_testkit_create_run_path) do |f| %>
  <%= render partial: 'form_run', locals: {f: f} %>
  <%= f.submit 'Создать' %>
<% end %>
</div>