<%= render 'tabs' %>
<h2>Отчет по тестированию: <%= @report.name %></h2>
<div class="buttons">
  <%= link_to @project.testkit_setting.template_name(:test_report),
    project_testkit_export_path(project_id: @project.identifier, testkit_id: @report.id, type: :test_report), :class => 'icon icon-report' %>

  <%= link_to @project.testkit_setting.template_name(:test_plan),
    project_testkit_export_path(project_id: @project.identifier, testkit_id: @report.id, type: :test_plan), :class => 'icon icon-report' %>

  <% if @project.testkit_setting.attachments.present? %>
    <% @project.testkit_setting.attachments.each do |attachment| %>
      <%= link_to @project.testkit_setting.template_name(attachment),
        project_testkit_export_path(project_id: @project.identifier, testkit_id: @report.id, type: attachment.id), :class => 'icon icon-report' %>
    <% end %>
  <% end %>
</div>
<div class="content">
  <div class="box" style="background: #FFD;">
  <div style="float: right; width: 500px;"><canvas id="chart-area"></canvas></div>
    <p>
      <strong>Создал тестирование:</strong> <%= @report.author %> <strong>в</strong> <%= format_time(@report.created_at) %> <strong>по шаблону: </strong> <%= @report.parent.name -%>
      <% if @report.last_user_update.present? %>
<strong>, последняя редакция:</strong> <%= @report.last_user_update %> <strong>в</strong> <%= format_time(@report.last_user_update_date) %>
      <% end %>
    </p>
    <p>
      <strong>Оценка времени:</strong> <%= distance_of_time_in_words(0, @report.testcases.sum(:duration).minutes) %>
    </p>
    <p>
      <strong>Старт:</strong> <%= @report.user_start %> <strong>в</strong> <%= format_time(@report.start_date) %>
    </p>
    <p>
      <strong>Завершено:</strong> <%= @report.user_end %> <strong>в</strong> <%= format_time(@report.done_date) %>
    </p>
    <p>
      <strong>В работе:</strong> <%= distance_of_time_in_words(@report.start_date, @report.done_date) %>
    </p>
    <p>
      <strong>Клиент:</strong> <%= @report.client_env %>
    </p>
    <p>
      <strong>Сервер:</strong> <%= @report.env %>
    </p>
    <p>
      <strong>Описание:</strong> <%= @report.description %>
    </p>
    <p>
      <strong>Связанные задачи:</strong> <%= @report.issues.present? ? @report.issues.collect {|i| "##{i.id}"}.join(', ') : 'Отсутствуют' %>
    </p>
    <p>
      <strong>Сборка:</strong> <%= @report.versions.present? ? @report.versions.collect {|v| "#{v.name}"}.join('<br /> ') : 'Отсутствует' %>
    </p>
    <p>
      <strong>Комментарий к тесту:</strong> <%= @report.comment %>
    </p>
  </div>
  <% @report.testcases.each_with_index do |testcase,i| %>
    <h1><%= "#{i+1}. #{testcase.name_with_id}" %></h1>
      <% if testcase.defects.present? %>
        <p>Обнаружены дефекты: <br/> <%= testcase.defects.collect {|issue| link_to(issue, issue_path(issue)) }.join("<br/>").html_safe %></p>
      <% end %>
      <% if User.current.allowed_to?(:add_issues, @project) 
        defect_params = { :testcase_id => testcase.id }
        if @project.testkit_setting.present? && @project.testkit_setting.new_defect_tracker_id.present?
          defect_params.merge!({:issue => {:tracker_id => @project.testkit_setting.new_defect_tracker_id }})
        end
        %>
        <p><%= link_to l(:create_defect), project_new_issue_with_testcase_path(defect_params), :class => 'icon icon-add' %></p>
      <% end %>
      <% if testcase.description.present? %>
        <p><%= textilizable testcase.description, :object => testcase %></p>
      <% end %>
      <% if testcase.attachments.present? %>
        <%= link_to_attachments testcase, :thumbnails => true %>
        <p></p>
      <% end %>
      <table class="list">
        <tr class="group">
          <td onclick="toggleRowGroup(this);" style="cursor: pointer;">
            <span class="expander">&nbsp;</span>&nbsp;Шаги<span class="count"><%= testcase.steps.count %></span>
            <a href="#" onclick="return false;" class="toggle-all">Свернуть/Развернуть</a>
          </td>
        </tr>
        <tr style="display: none;">
          <td>
          <% testcase.steps.each_with_index do |step,i| %>
            
              <table class="list" style="font-size: 90%;">
                <tr align="left">
                  <th style="color: red;">Шаг <%= i+1 %></th>
                  <th>Ожидаемый результат</th>
                  <th>Статус</th>
                </tr>
                <tr align="left">
                  <td width="49%"><%= textilizable step.if, :object => testcase, :attachments => testcase.attachments, :object => testcase %></td>
                  <td width="49%"><%= textilizable step.then, :object => testcase, :attachments => testcase.attachments, :object => testcase %></td>
                  <td width="4%" class="<%= step.status %>_style"><%= step.status %></td>
                </tr>
                <% if step.result.present? %>
                  <tr>
                    <th colspan="3" align="left">Результат</th>
                  </tr>
                  <tr>
                    <td colspan="3" align="left"><%= step.result %></td>
                  </tr>
                <% end %>
                <% if step.attachments.present? %>
                  <tr>
                    <th colspan="3" align="left">Файлы к шагу</th>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <div id="step_<%= step.id %>"><%= render :partial => 'testcase_steps/step', 
                      :locals => { step: step, attachments: step.attachments,
                        options: { editable: false, deletable: false, author: true },
                        thumbnails: Setting.thumbnails_enabled? } %></div>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          
          </td>
        </tr>
      </table>
      <div>  
        <h2 style="float: left; padding-top: 15px">Результат тест-кейса: <span class="<%= "#{testcase.status}_style" %>"><%= testcase.status %></span></h2>
        <div style="float: left; width: 50px; height: 50px"><canvas id="chart_steps_case<%= testcase.id %>" width="50" height="50"></canvas></div>
        <%= javascript_tag do %>
            $(document).ready(function() {
                  window.myPie = new Chart(document.getElementById("chart_steps_case<%= testcase.id %>").getContext("2d"), 
                  {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: <%= raw testcase.chart_values %>,
                            backgroundColor: [
                                "rgb(152, 217, 109)",
                                "rgb(238, 36, 40)",
                                "rgb(124, 115, 115)",
                                "rgb(241, 222, 222)",
                            ]
                        }],
                        labels: false,
                    },
                    options: {
                        tooltips: false
                    }
                });
              });
        <% end %>
        <div style="clear: both;"></div>
      </div>
    <% end %>
</div>
<% content_for :header_tags do %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js' %>
<% end %>
<%= javascript_tag do %>
var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: <%= raw @report.chart_values %>,
                backgroundColor: [
                    "rgb(152, 217, 109)",
                    "rgb(238, 36, 40)",
                    "rgb(124, 115, 115)",
                    "rgb(241, 222, 222)",
                ],
                label: 'Dataset 1'
            }],
            labels: <%= raw Testcase.status_list %>
        },
        options: {
            responsive: true
        }
    };
  window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };
<% end %>

