<% if version.testkits.present? %>
  <hr />
  <% if version.testkits.run.present? %>
  <p><strong><%= l(:label_issue_testplans) %></strong></p>
  <div>
    <%= render :partial => 'testkits/table_runs', locals: { runs: version.testkits.run } %>
  </div>
  <% end %>
  <% if version.testkits.report.present? %>
  <p><strong><%= l(:label_issue_reports) %></strong></p>
  <div>
    <%= render :partial => 'testkits/table_reports', locals: { reports: version.testkits.report } %>
  </div>
  <% end %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_testkit', :plugin => 'redmine_testkit' %>
  <% end %>
<% end %>