<%= render 'testkits/tabs' %>
<h2 class="title">Клиент</h2>
<% if User.current.allowed_to?(:manage_testkit_envs, @project) %>
  <div class="buttons">
    <%= link_to 'Добавить', new_project_testkit_env_path(env_type: "client"), :class => 'icon icon-add', :remote => :true %>
  </div>
<% end %>
<table class="list">
  <thead>
    <th></th>
    <% if User.current.allowed_to?(:manage_testkit_envs, @project) %>
      <th style="width: 20px; text-align: center;" ></th>
      <th style="width: 20px; text-align: center;" ></th>
    <% end %>
  </thead>
  <% if @client.present? %>
    <% @client.each do |env| %>
    <tr>
      <td><%= env.name -%></td>
      <% if User.current.allowed_to?(:manage_testkit_envs, @project) %>
        <td><%= link_to '', edit_project_testkit_env_path(id: env.id), :remote => :true, :class => 'icon icon-edit' -%></td>
        <td><%= link_to '', project_testkit_env_path(id: env.id), :method => :delete, :class => 'icon icon-del', data: { confirm: l(:text_are_you_sure) } -%></td>
      <% end %>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">Записи отсутствуют</td>
    </tr>
  <% end %>
</table>
<br/><h2 class="title">Сервер</h2>
<% if User.current.allowed_to?(:manage_testkit_envs, @project) %>
  <div class="buttons">
    <%= link_to 'Добавить', new_project_testkit_env_path(env_type: "server"), :class => 'icon icon-add', :remote => :true %>
  </div>
<% end %>
<table class="list">
  <thead>
    <th></th>
    <% if User.current.allowed_to?(:manage_testkit_envs, @project) %>
      <th style="width: 20px; text-align: center;"></th>
      <th style="width: 20px; text-align: center;" ></th>
    <% end %>
  </thead>
  <% if @server.present? %>
    <% @server.each do |env| %>
    <tr>
      <td><%= env.name -%></td>
      <% if User.current.allowed_to?(:manage_testkit_envs, @project) %>
        <td><%= link_to '', edit_project_testkit_env_path(id: env.id), :remote => :true, :class => 'icon icon-edit' -%></td>
        <td><%= link_to '', project_testkit_env_path(id: env.id), :method => :delete, :class => 'icon icon-del', data: { confirm: l(:text_are_you_sure) } -%></td>
      <% end %>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">Записи отсутствуют</td>
    </tr>
  <% end %>
</table>
